body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
html {
    height: 100%;
    width: 100%;
    
}

#mapid {
    height: 95%;
    width: 100%;
}



ul{
    padding-left: 0;
    list-style-type: none;
}

.leaflet-container{
    font-size: 1.2rem;
}

.leaflet-sidebar h2{
    font-size: 1.2rem;
    font-style: italic;
    padding-top: 0.9rem;
}

input[type="checkbox"], input[type="radio"] {
    margin-right: 5px;
}

